
<!-- FOOTER -->
<footer id="footer" class="footer-distributed">

    <div class="footer-left">

        <h3>JOY-<span>BAR</span></h3>

        <p class="footer-links">
            <a href="#">Home</a>
            ·
            <a href="#">Contact</a>
        </p>

        <p class="footer-company-name">Joy Cocktail-Bar &copy; 2021</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Kielerstrasse 12</span> Hamburg, Germany</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+49 040 123456</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="/cdn-cgi/l/email-protection#e0939590908f9294a0838f8d90818e99ce838f8d"><span class="__cf_email__" data-cfemail="63101613130c111723000c0e13020d1a4d000c0e">[email&#160;protected]</span></a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>About the company</span>
            Joy Cocktail-bar is a destination where every cocktail enthusiast can explore our curated collection of incredible cocktails and learn how to make them.
        </p>

        <div class="footer-icons">

            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>

        </div>

    </div>

</footer>


<script src="https://getbootstrap.com/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>

