
<!-- FOOTER -->
<footer class="container" >
    <div id="footer">
        <div class="row">
            <div class="col" style="    padding-left: 50px; padding-top: 50px; padding-bottom: 50px;">
                <h2>Contact us!</h2>
                <p>When you wanna have the most delicious alcoholic drinks, contact us<br/>
                   Tel: 000888999 00<br/>
                   Email: Cocktail@info.com
                </p>
            </div>
            <div class="col" style="text-align: right;">
           </div>
        </div>
    </div>
</footer>

<script src="https://getbootstrap.com/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>

