<%- include('partials/header') -%>
<section class="header1 cid-qyvisAZ1Bw" id="header1-7" data-rv-view="758">


    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-5">ABOUT JOY COCKTAILS</h1>
                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2">MEET OUR TEAM</h3>
                <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">
                    We are all very different. We were born in different cities, at different times, we love different music, food, movies. But we have something that unites us all. It is our love for cocktails.
                    Joy Cocktail is a destination where every cocktail enthusiast can explore our curated collection of incredible cocktails and learn how to make them.
                    Try a new spirit or put your own unique spin on one of the hundreds of drinks you find. let the stunning, colorful drink images inspire your next big occasion or casual evening at home.
                    Search hundreds of recipes for every spirit type, from sweet Tequila to smoky Bourbon. There’s something for everyone, from Margaritas to Martinis, party punches to seasonal favorites, old-fashioned classics to the latest mixologist concoctions.
                </p>
            </div>
        </div>
    </div>

</section>

<!--middle picture-->
<section class="header1 cid-qyvcqB36eR1" id="header1-0" data-rv-view="761">





    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">




            </div>
        </div>
    </div>

</section>

<section class="features1 cid-qyvcAqZyNq" id="features1-1" data-rv-view="764">




    <div class="container">
        <div class="media-container-row">

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                    <span class="mbr-iconfont mbri-users" style="color: rgb(0, 0, 0);" media-simple="true"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">
                        Creativity</h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                         Think outside the box, try new things and create something new and joyful :)
                    </p>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                    <span class="mbr-iconfont mbri-globe" style="color: rgb(0, 0, 0);" media-simple="true"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">
                        Flavor</h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Within our extensive library of recipes, experiment, and find your signiture drink.
                    </p>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                    <span class="mbr-iconfont mbri-smile-face" style="color: rgb(0, 0, 0);" media-simple="true"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">
                        Good Times
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Let us help you create memories and fun for you and your loved ones.
                    </p>
                </div>
            </div>



        </div>

    </div>

</section>

<section class="carousel slide testimonials-slider cid-qyvf5AQs7c" id="testimonials-slider1-3" data-rv-view="767">





    <div class="container text-center">


        <div class="carousel slide" data-ride="carousel" role="listbox">
            <div class="carousel-inner">


                <div class="carousel-item active">
                    <div class="user col-md-8">
                        <div class="user_image">
                            <img src="/Photos/rawezh.jpg" alt="rawezh" title="" media-simple="true">
                        </div>
                        <div class="user_text pb-3">
                            <p class="mbr-fonts-style display-7">
                                Good afternoon. Whats up people.
                            </p>
                        </div>
                        <div class="user_name mbr-bold pb-2 mbr-fonts-style display-7">
                            Rawezh
                        </div>
                        <div class="user_desk mbr-light mbr-fonts-style display-7">
                            DESIGNER
                        </div>
                    </div>
                </div><div class="carousel-item">
                    <div class="user col-md-8">
                        <div class="user_image">
                            <img src="/Photos/frenzi.jpg" alt="" title="" media-simple="true">
                        </div>
                        <div class="user_text pb-3">
                            <p class="mbr-fonts-style display-7">
                                All issues are resolved promptly. In communication, the employees are pleasant, helpful. Always offer new ideas, new ways to develop, improve our project.
                            </p>
                        </div>
                        <div class="user_name mbr-bold pb-2 mbr-fonts-style display-7">
                            Franzi
                        </div>
                        <div class="user_desk mbr-light mbr-fonts-style display-7">
                            Product Owner
                        </div>
                    </div>
                </div><div class="carousel-item">
                    <div class="user col-md-8">
                        <div class="user_image">
                            <img src="/Photos/mika.jpg" alt="" title="" media-simple="true">
                        </div>
                        <div class="user_text pb-3">
                            <p class="mbr-fonts-style display-7">
                                Excellent commentor, does the best
                            </p>
                        </div>
                        <div class="user_name mbr-bold pb-2 mbr-fonts-style display-7">
                            Mika
                        </div>
                        <div class="user_desk mbr-light mbr-fonts-style display-7">
                            Scrum manager
                        </div>
                    </div>
                </div><div class="carousel-item">
                    <div class="user col-md-8">
                        <div class="user_image">
                            <img src="/Photos/ethan.jpg" alt="" title="" media-simple="true">
                        </div>
                        <div class="user_text pb-3">
                            <p class="mbr-fonts-style display-7">
                                As usual just blah blah blah
                            </p>
                        </div>
                        <div class="user_name mbr-bold pb-2 mbr-fonts-style display-7">
                            Ethan
                        </div>
                        <div class="user_desk mbr-light mbr-fonts-style display-7">
                            DEVELOPER
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-controls">
                <a class="carousel-control-prev" role="button" data-slide="prev" href="#testimonials-slider1-3">
                    <span aria-hidden="true" class="mbri-arrow-prev mbr-iconfont"></span>
                    <span class="sr-only">Previous</span>
                </a>

                <a class="carousel-control-next" role="button" data-slide="next" href="#testimonials-slider1-3">
                    <span aria-hidden="true" class="mbri-arrow-next mbr-iconfont"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>



    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">
                    CONTACT US</h2>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column col-lg-8" data-form-type="formoid">
                <div data-form-alert="" hidden="">
                    Thanks for filling out the form!
                </div>

                <form class="mbr-form" action="https://mobirise.com/" method="post" data-form-title="Mobirise Form"><input type="hidden" data-form-email="true" value="R46ImfT8lRYLhZq6vpVE63L0V35bOdmwHjgn18Tp/HdDujD3JfWe/8bm7YjE2vjZZ7JFQMRNRIinYQUh3aNa2qi1GshxArFhHAffNuiFsZiNLfMCF8KElmS7V7lbqBIL">
                    <div class="row row-sm-offset">
                        <div class="col-md-4 multi-horizontal" data-for="name">
                            <div class="form-group">
                                <label class="form-control-label mbr-fonts-style display-7" for="name-form1-4">Name</label>
                                <input type="text" class="form-control" name="name" data-form-field="Name" required="" id="name-form1-4">
                            </div>
                        </div>
                        <div class="col-md-4 multi-horizontal" data-for="email">
                            <div class="form-group">
                                <label class="form-control-label mbr-fonts-style display-7" for="email-form1-4">Email</label>
                                <input type="email" class="form-control" name="email" data-form-field="Email" required="" id="email-form1-4">
                            </div>
                        </div>
                        <div class="col-md-4 multi-horizontal" data-for="phone">
                            <div class="form-group">
                                <label class="form-control-label mbr-fonts-style display-7" for="phone-form1-4">Phone</label>
                                <input type="tel" class="form-control" name="phone" data-form-field="Phone" id="phone-form1-4">
                            </div>
                        </div>
                    </div>
                    <div class="form-group" data-for="message">
                        <label class="form-control-label mbr-fonts-style display-7" for="message-form1-4">Message</label>
                        <textarea type="text" class="form-control" name="message" rows="7" data-form-field="Message" id="message-form1-4"></textarea>
                    </div>

                    <span class="input-group-btn"><button href="" type="submit" class="btn btn-form btn-black-outline display-4">SEND FORM</button></span>
                </form>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer') -%>