<%- include('partials/header') -%>
<div class="container" style="margin-top: 40px;">
    <img id="about_image" src="https://media.istockphoto.com/photos/time-spent-having-fun-is-time-well-spent-picture-id998968848?b=1&k=6&m=998968848&s=170667a&w=0&h=bE4BHRO9gThALjt-v4Jjj3YYqFHVWgXug7l2dd_pWW4=">
        <h1 style="text-align: center;">About us</h1>
    <p id="text_about">
        Joy Cocktail-bar is a destination where every cocktail enthusiast can explore our curated collection of incredible cocktails and learn how to make them. Try a new spirit or put your own unique spin on one of the hundreds of drinks you find. Let the stunning, colorful drink images inspire your next big occasion or casual evening at home. Search hundreds of recipes for every spirit type, from sweet Tequila to smoky Bourbon. There’s something for everyone, from Margaritas to Martinis, party punches to seasonal favorites, old-fashioned classics to the latest mixologist concoctions.


    While you’re here, share your cocktail picks with your friends & fellow cocktail lovers. Keep coming back to see the latest additions to our growing list of recipes and new bartending tips. We promise you’ll find an amazing cocktail every time you visit.
    </p>
</div>

<%- include('partials/footer') -%>