<%- include('partials/header') -%>
<div class="container" style="margin-top: 40px;">
    <img id="about_image" src="https://media.istockphoto.com/photos/time-spent-having-fun-is-time-well-spent-picture-id998968848?b=1&k=6&m=998968848&s=170667a&w=0&h=bE4BHRO9gThALjt-v4Jjj3YYqFHVWgXug7l2dd_pWW4=">
        <h1 style="text-align: center;">About us</h1>
    <p id="text_about">
        Umgangssprachlich wird das World Wide Web oft mit dem Internet gleichgesetzt,[1] es ist jedoch jünger und stellt nur eine von mehreren möglichen Nutzungen des Internets dar. Andere Internetdienste wie E-Mail, IRC oder SSH sind nicht in das World Wide Web integriert.

Zum Aufrufen von Inhalten aus dem World Wide Web wird ein Webbrowser benötigt, der z. B. auf einem PC oder einem Smartphone läuft. Mit ihm kann der Benutzer die auf einem beliebigen, von ihm ausgewählten Webserver bereitgestellten Daten herunterladen und auf einem geeigneten Ausgabegerät wie einem Bildschirm oder einer Braillezeile anzeigen lassen. Der Benutzer kann dann den Hyperlinks auf der angezeigten Webseite folgen, die auf andere Webseiten verweisen, gleichgültig ob diese auf demselben Webserver oder einem anderen gespeichert sind. So ergibt sich ein weltweites Netz aus Webseiten. Das Verfolgen der Hyperlinks wird auch als „Surfen im Internet“ bezeichnet.

Mit dem sogenannten Web 2.0 wurden ab etwa den 2000er Jahren Webseiten populär, deren Inhalt der Nutzer nicht nur wie etwa bei Nachrichten-Seiten passiv ansehen, sondern selbst ändern und ergänzen kann, z. B. um eigene Inhalte zu veröffentlichen oder mit anderen Nutzern zu kommunizieren. Dazu zählen Blogs als private Meinungsseiten, von einer losen Autorengemeinschaft geschaffene Seiten nach dem Wiki-Prinzip und Soziale Netzwerke wie Foren. Serverseitige Techniken und (Skript-)Sprachen, die diese Interaktivität umsetzen, sind vor allem CGI, Python, ASP, Apache Wicket, JSF, ColdFusion, Ruby, PHP und SSI. Zu clientseitigen Techniken, die z. B. über Filter die Inhalte individualisieren, gehören unter anderem CSS, JavaScript oder Java, wobei Java hauptsächlich zur plattformneutralen Ausführung von Programmen dient, die oft als Webanwendungen über das Internet geladen werden und mit internetbasierenden Datenbanken (z. B. SAP-Clients) kommunizieren. Mit der Interaktivität wurde der Einsatz von Suchmaschinen möglich, die die bis dato vorhandenen Webverzeichnisse ergänzten und bis heute weitgehend verdrängten.

Mit der zunehmenden Komplexität von Formaten, Protokollen und Techniken entstanden neue Berufsbilder, wie z. B. Webdesigner und Mediamatiker. Zu ihren Aufgaben gehört neben der Programmierung von Inhalten auch die Auswertung von Nutzerverhalten im Rahmen der Logdateianalyse.

Das WWW wurde unter Weiterentwicklung bekannter ähnlicher Konzepte 1989 von Tim Berners-Lee und Robert Cailliau am europäischen Forschungszentrum CERN in Genf entwickelt.[2][3] Berners-Lee entwickelte dazu das HTTP-Netzwerkprotokoll und die Textauszeichnungssprache HTML. Zudem programmierte er den ersten Webbrowser und die erste Webserver-Software. Er betrieb auch den ersten Webserver der Welt auf seinem Entwicklungsrechner vom Typ NeXTcube. Das Gesamtkonzept wurde der Öffentlichkeit 1991 unter Verzicht auf jegliche Patentierung oder Lizenzzahlungen zur freien Verfügung gestellt, was erheblich zur heutigen Bedeutung beitrug.

Die weltweit erste Webseite info.cern.ch wurde am 6. August 1991 veröffentlicht.[4] Eine Nachbildung dieser Seite ist über nachfolgenden Link erreichbar:

    info.cern.ch

Das WWW führte zu umfassenden, oft als revolutionär beschriebenen Umwälzungen in vielen Lebensbereichen, zur Entstehung neuer Wirtschaftszweige und zu einem grundlegenden Wandel des Kommunikationsverhaltens und der Mediennutzung. Es wird in seiner kulturellen Bedeutung, zusammen mit anderen Internet-Diensten wie E-Mail, teilweise mit der Erfindun
    </p>
</div>

<%- include('partials/footer') -%>