.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
body{
    background-color: #DDDDDD;
}
/*about us the middle picture*/
.cid-qyvcqB36eR1 {
    padding-top: 135px;
    padding-bottom: 135px;
    background-image: url("https://coolwallpapers.me/picsup/5697160-bar-wallpapers.jpg");
}


@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.navbar {
    background-color: #505050;
}

.aqua-color {
    background-color: #80FFDB;
}

#navBar {
    /*height: 80px;*/
    /*padding-left: 40px;*/
    /*padding-right: 40px;*/
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.dropDownItem {
    font-size: 15px;
    letter-spacing: 1px;
}

#link_bar {
    font-size: 20px;
    font-weight: 200;
    margin-right: 10px;
    margin-left: 10px;
}

#navbarDropdownMenuLink {
    font-size: 20px;
    font-weight: 100;
    margin-right: 10px;
    margin-left: 10px;
}

#footer {
   font-family: "Poppins", Arial, sans-serif;
}

#about_image {
    width: 100%;
    border-radius: 50px;
    margin: 20px;
}

#text_about {
    font-size: 19px;
    width: 90%;
    text-align: center;
    margin-left: 60px;
}

#category_img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

#alcoholic_head {
    font-size: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #e63946;
    text-align: center;
    border-bottom: 1px solid #e63946;
}

#img_recip {
    width: 105%;
    border-radius: 30px;
    margin-left: 70px;
}

#text_recip {
    width: 400px;
}

#recip_text {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    margin-top: 70px;
    border-radius: 30px;
}

#prepare_text {
    padding-top: 60px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
